
/* universal selector */

* {
    font-family: Helvetica, Arial, sans-serif;
}

/* type selectors */

h1,
h2 {
    color: rgb(85, 9, 9);
    text-align: center;
}

img {
    width: 450px;
    height: auto;
}

/* class selectors */

.subject {
    text-align: center;
}

.about-food {
text-align: center;
}

/* ID selectors */

#main-links {
    font-size: 20px;
    color: rgb(25, 25, 255);
}
